/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@font-face {
  font-family: 'ALK Tommaso';
  src: url("../fonts/alk-tommaso-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/alk-tommaso-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alk-tommaso-webfont.woff2") format("woff2"), url("../fonts/alk-tommaso-webfont.woff") format("woff"), url("../fonts/alk-tommaso-webfont.ttf") format("truetype"), url("../fonts/alk-tommaso-webfont.svg#alk_tommasoregular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'BPG Nino Mtavruli Bold';
  src: url("../fonts/bpg-nino-mtavruli-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-nino-mtavruli-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-nino-mtavruli-bold-webfont.woff2") format("woff2"), url("../fonts/bpg-nino-mtavruli-bold-webfont.woff") format("woff"), url("../fonts/bpg-nino-mtavruli-bold-webfont.ttf") format("truetype"), url("../fonts/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'BPG Nino Mtavruli Book';
  src: url("../fonts/bpg-nino-mtavruli-book-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-nino-mtavruli-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-nino-mtavruli-book-webfont.woff2") format("woff2"), url("../fonts/bpg-nino-mtavruli-book-webfont.woff") format("woff"), url("../fonts/bpg-nino-mtavruli-book-webfont.ttf") format("truetype"), url("../fonts/bpg-nino-mtavruli-book-webfont.svg#bpg_nino_mtavruli_bookregular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'BPGLGV2014Mtavruli';
  src: url("../fonts/BPGLGV2014Mtavruli.eot?#iefix") format("embedded-opentype"), url("../fonts/BPGLGV2014Mtavruli.woff") format("woff"), url("../fonts/BPGLGV2014Mtavruli.ttf") format("truetype"), url("../fonts/BPGLGV2014Mtavruli.svg#BPGLGV2014Mtavruli") format("svg"); }
.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.gs-btn-white {
  display: inline-block;
  width: 220px;
  height: 60px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 58px;
  letter-spacing: 3px;
  outline: none;
  border: 1px solid #ffffff;
  background-color: transparent;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .gs-btn-white.active, .gs-btn-white:hover {
    color: #000000;
    background-color: #ffffff; }

.gs-btn-black {
  display: inline-block;
  width: 220px;
  height: 60px;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 58px;
  letter-spacing: 3px;
  outline: none;
  border: 1px solid #000000;
  background-color: transparent;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -khtml-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .gs-btn-black.active, .gs-btn-black:hover {
    color: #ffffff;
    background-color: #000000; }
  .gs-btn-black.active:hover {
    background-color: rgba(0, 0, 0, 0.9); }

html[lang=en] .section-1 h1,
html[lang=en] .section-2 .row-1 h2,
html[lang=en] .section-3 h2,
html[lang=en] .section-4 h2,
html[lang=en] .footer .contact-title h2,
html[lang=en] .culture-header h1,
html[lang=en] .region-header h2 {
  font-weight: 400;
  font-family: 'Abril Fatface', cursive; }

html[lang=ka] .section-1 h1,
html[lang=ka] .section-2 .row-1 h2,
html[lang=ka] .section-3 h2,
html[lang=ka] .section-4 h2,
html[lang=ka] .footer .contact-title h2,
html[lang=ka] .culture-header h1,
html[lang=ka] .region-header h2 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'BPGLGV2014Mtavruli';
  line-height: 60px;
  padding-top: 18px; }

html[lang=ru] .section-1 h1,
html[lang=ru] .section-2 .row-1 h2,
html[lang=ru] .section-3 h2,
html[lang=ru] .section-4 h2,
html[lang=ru] .footer .contact-title h2,
html[lang=ru] .culture-header h1,
html[lang=ru] .region-header h2 {
  font-weight: 700;
  font-family: 'Playfair Display SC', serif; }

.main-wrapper {
  opacity: 0; }

.header {
  text-align: center;
  min-height: 100px;
  background-color: #ffffff; }
  .header .top-left-menu,
  .header .top-right-menu {
    margin: 30px 0; }
    .header .top-left-menu ul li,
    .header .top-right-menu ul li {
      width: 50%;
      height: 40px;
      max-width: 160px; }
      .header .top-left-menu ul li a,
      .header .top-right-menu ul li a {
        display: block;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        line-height: 40px; }
        .header .top-left-menu ul li a:hover,
        .header .top-right-menu ul li a:hover {
          color: #ac9045; }
      .header .top-left-menu ul li + li,
      .header .top-right-menu ul li + li {
        border-left: 1px solid #e6e6e6; }
  .header .top-left-menu {
    text-align: right; }
  .header .top-right-menu {
    text-align: left; }
  .header .top-logo {
    display: inline-block;
    margin: 25px 0;
    text-align: center; }
    .header .top-logo img {
      display: inline-block; }
  .header .menu-btn {
    display: none;
    position: absolute;
    border: none;
    top: 34px;
    right: 10px;
    padding: 5px 3px;
    background-color: transparent; }
    .header .menu-btn span {
      display: block;
      width: 32px;
      height: 2px;
      background-color: #000000; }
      .header .menu-btn span + span {
        margin-top: 8px; }
  .header .lang {
    position: absolute;
    top: 38px;
    right: 20px; }
    .header .lang button {
      display: inline-block;
      border: 0;
      padding: 0;
      outline: none;
      line-height: 24px;
      background-color: transparent;
      color: #000000;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif; }
      .header .lang button span {
        display: block;
        line-height: 24px;
        float: left;
        padding-right: 10px; }
      .header .lang button img {
        display: block;
        float: right; }
    .header .lang ul li a {
      color: #000000;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      line-height: 20px;
      text-align: center; }

.section {
  position: relative; }
  .section .row img {
    width: 100%; }
  .section .section-info-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center; }
    .section .section-info-wrapper .container {
      display: table;
      height: 100%; }
    .section .section-info-wrapper .middle {
      display: table-cell;
      vertical-align: middle; }

.culture-header h1 {
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  line-height: 70px; }
.culture-header h2 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 20px;
  letter-spacing: 3px; }

.region-header h2 {
  position: relative;
  color: #ac9045;
  font-size: 50px;
  text-align: center;
  line-height: 80px; }
  .region-header h2:before {
    content: '';
    position: absolute;
    width: 560px;
    height: 1px;
    background-color: #ac9045;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }
.region-header h3 {
  position: relative;
  color: #ac9045;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 20px;
  letter-spacing: 3px;
  padding-bottom: 16px;
  margin-bottom: 50px; }
  .region-header h3:after {
    content: '';
    position: absolute;
    width: 560px;
    height: 1px;
    background-color: #ac9045;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.region-images img {
  width: 100%;
  margin-bottom: 40px; }
.region-images h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 22px;
  letter-spacing: 3px;
  margin-bottom: 20px; }

.culture-content,
.region-content {
  padding: 80px 0; }
  .culture-content p,
  .region-content p {
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    margin-bottom: 20px; }

.section-1 h1 {
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  line-height: 70px; }
.section-1 h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 20px;
  letter-spacing: 3px; }
.section-1 a {
  margin: 30px auto; }

.section-2 {
  text-align: center;
  padding-top: 80px;
  background-color: #f2f2f2; }
  .section-2 .row-1 h2 {
    position: relative;
    color: #000000;
    font-size: 60px;
    text-align: center;
    line-height: 80px; }
    .section-2 .row-1 h2:before {
      content: '';
      position: absolute;
      width: 560px;
      height: 1px;
      background-color: #000000;
      top: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .section-2 .row-1 h3 {
    position: relative;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 20px;
    letter-spacing: 3px;
    padding-bottom: 16px;
    margin-bottom: 25px; }
    .section-2 .row-1 h3:after {
      content: '';
      position: absolute;
      width: 560px;
      height: 1px;
      background-color: #000000;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .section-2 .row-3 {
    padding-bottom: 40px;
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
    background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
    background-image: -ms-linear-gradient(top, #f2f2f2, #e6e6e6);
    background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
    background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2f2', endColorStr='#e6e6e6'); }
    .section-2 .row-3 img {
      width: 100%; }
    .section-2 .row-3 a {
      display: inline-block;
      margin: 70px 0; }

.section-3 .ornament-top,
.section-3 .ornament-bottom {
  margin: 5px auto; }
.section-3 h2 {
  position: relative;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  line-height: 80px; }
  .section-3 h2:before {
    content: '';
    position: absolute;
    width: 560px;
    height: 1px;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }
.section-3 h3 {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 20px;
  letter-spacing: 3px;
  padding-bottom: 16px; }
  .section-3 h3:after {
    content: '';
    position: absolute;
    width: 560px;
    height: 1px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
.section-3 p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 20px; }

.section-4 h2 {
  position: relative;
  color: #ac9045;
  font-size: 60px;
  text-align: center;
  line-height: 80px; }
  .section-4 h2:before {
    content: '';
    position: absolute;
    width: 560px;
    height: 1px;
    background-color: #ac9045;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }
.section-4 h3 {
  position: relative;
  color: #ac9045;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 20px;
  letter-spacing: 3px;
  padding-bottom: 16px;
  margin-bottom: 50px; }
  .section-4 h3:after {
    content: '';
    position: absolute;
    width: 560px;
    height: 1px;
    background-color: #ac9045;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
.section-4 p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 20px;
  padding-bottom: 100px; }

.footer {
  min-height: 800px;
  background-image: url("../image/contacts-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .footer .contact-title {
    padding: 60px 0; }
    .footer .contact-title h2 {
      position: relative;
      color: #000000;
      font-size: 60px;
      font-weight: 400;
      font-family: 'Abril Fatface', cursive;
      text-align: center;
      line-height: 80px; }
      .footer .contact-title h2:before, .footer .contact-title h2:after {
        content: '';
        position: absolute;
        width: 560px;
        height: 1px;
        background-color: #000000;
        left: 0;
        right: 0;
        margin: auto; }
      .footer .contact-title h2:before {
        top: 0; }
      .footer .contact-title h2:after {
        bottom: 0; }
  .footer .contact-details {
    min-height: 600px;
    padding: 100px 60px;
    background-color: #FFFFFF;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    -khtml-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    -ms-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    -o-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px; }
    .footer .contact-details .contact-form .form-group input[type=text],
    .footer .contact-details .contact-form .form-group input[type=email] {
      width: 100%;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      height: 50px;
      padding-left: 20px;
      padding-right: 20px;
      border: 0px;
      border-bottom: 1px solid #cccccc; }
    .footer .contact-details .contact-form .form-group textarea {
      width: 100%;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      line-height: 18px;
      height: 120px;
      padding: 20px;
      border: 1px solid #cccccc;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    .footer .contact-details .contact-form .form-group input[type=submit] {
      width: 100%; }
    .footer .contact-details .contact-info h3 {
      color: #000000;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      margin-bottom: 30px; }
    .footer .contact-details .contact-info ul li {
      display: block;
      margin-bottom: 30px; }
      .footer .contact-details .contact-info ul li strong {
        display: block;
        float: left;
        width: 30%;
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px; }
      .footer .contact-details .contact-info ul li span {
        display: block;
        float: left;
        width: 70%;
        color: #000000;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 16px; }
        .footer .contact-details .contact-info ul li span.red-txt {
          color: #b13c3c;
          text-decoration: underline; }

.secondary-nav {
  min-height: 60px;
  text-align: center;
  background-color: #e6e6e6; }
  .secondary-nav .secondary-nav-details button {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent; }
  .secondary-nav .secondary-nav-details h1 {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 32px;
    text-align: center;
    letter-spacing: 3px;
    margin: 14px 0; }
  .secondary-nav .secondary-nav-details a {
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 14px; }
    .secondary-nav .secondary-nav-details a:hover {
      background-color: #dadada; }
    .secondary-nav .secondary-nav-details a.disabled {
      opacity: 0.3; }
      .secondary-nav .secondary-nav-details a.disabled:hover {
        background-color: transparent; }
  .secondary-nav .secondary-nav-products ul li {
    cursor: pointer;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    letter-spacing: 3px;
    padding: 20px; }
    .secondary-nav .secondary-nav-products ul li.active, .secondary-nav .secondary-nav-products ul li:hover {
      background-color: #dadada; }

.details-section-1 {
  min-height: 240px;
  text-align: center;
  padding: 35px 0;
  background-color: #f2f2f2;
  background-image: url("../image/binekhi_pattern.png"); }
  .details-section-1 h2 {
    color: #000000;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    line-height: 80px; }
  .details-section-1 h3 {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    letter-spacing: 3px;
    padding-bottom: 20px; }

.product-details {
  padding: 80px 0 120px; }
  .product-details .details-cover {
    text-align: center; }
    .product-details .details-cover img {
      display: inline-block;
      margin-bottom: 30px; }
  .product-details .details-info ul {
    position: relative;
    padding-bottom: 30px; }
    .product-details .details-info ul:first-child {
      margin-bottom: 25px; }
      .product-details .details-info ul:first-child:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 40%;
        left: 0;
        bottom: 0;
        background-color: #000000; }
    .product-details .details-info ul li h3 {
      color: #000000;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      line-height: 18px;
      letter-spacing: 3px;
      margin-bottom: 5px; }
    .product-details .details-info ul li p {
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      font-family: 'Open Sans', sans-serif;
      line-height: 24px; }
  .product-details .details-info button {
    margin: 40px auto; }

.great-with {
  margin-bottom: 100px; }
  .great-with .great-with-title h2 {
    position: relative;
    color: #000000;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    line-height: 80px; }
    .great-with .great-with-title h2:before {
      content: '';
      position: absolute;
      width: 560px;
      height: 1px;
      background-color: #000000;
      top: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .great-with .great-with-title h3 {
    position: relative;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 20px;
    letter-spacing: 3px;
    padding-bottom: 15px;
    margin-bottom: 50px; }
    .great-with .great-with-title h3:after {
      content: '';
      position: absolute;
      width: 560px;
      height: 1px;
      background-color: #000000;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .great-with .great-with-content img {
    width: 100%;
    margin-bottom: 40px; }
  .great-with .great-with-content h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 22px;
    letter-spacing: 3px;
    margin-bottom: 20px; }

.products-list-wrapper {
  padding: 60px 0; }
  .products-list-wrapper .product-block {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px; }
    .products-list-wrapper .product-block a {
      display: block;
      padding: 10px 20px; }
      .products-list-wrapper .product-block a .small-img-wrapper {
        border-bottom: 1px solid #000000;
        margin-bottom: 20px; }
        .products-list-wrapper .product-block a .small-img-wrapper img {
          display: block;
          width: 70%;
          max-width: 200px;
          margin: 20px auto; }
      .products-list-wrapper .product-block a .product-name {
        height: 100px; }
        .products-list-wrapper .product-block a .product-name h2 {
          color: #000000;
          font-size: 14px;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif;
          line-height: 20px;
          letter-spacing: 3px;
          margin-bottom: 5px; }
        .products-list-wrapper .product-block a .product-name h3 {
          color: #000000;
          font-size: 18px;
          font-weight: 300;
          font-family: 'Open Sans', sans-serif;
          line-height: 22px; }

.inner-footer {
  min-height: 60px;
  padding: 20px 0;
  background-color: #e6e6e6; }
  .inner-footer ul li {
    padding: 0 25px; }
    .inner-footer ul li a {
      display: block;
      color: #808080;
      font-size: 14px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      line-height: 20px; }

/*# sourceMappingURL=stylesheet.css.map */
